#mainForm{
    font-family: arial;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 10px;
    justify-content: center;
    position: relative;
    z-index: 0;
}
#studentButton {
    height: 100px;
    width: 70%;
    position: absolute;
    left: 100px;
    top: 345px;
    z-index: 1;
}
.space {
    margin:60px;
}
.form-check {
margin-bottom: 10.4px;
}
input[type=checkbox] {
  transform: scale(2);
}