.list_form {
    width: 70%;
    height:auto;
    float: left;
}
#listForm tr td:hover{
    background-color: #ffdaf8;
}
#buttonForm{
    float: right
}
#classAttitudeButton {
    font-size: 300%;
    margin: 20px;
}
#submissionButton {
    font-size: 300%;
    margin: 20px;
}
#testScoreButton {
    font-size: 300%;
    margin: 20px;
}