form {
    float: left;
    width: 30%;
}
#choiceClassDiv{
    float: left;
    width: 30%;
}
#addClassButton{
  width: 90%;
  height:200px;
  margin: 30px;
  font-size: 300%;
}
#choiceClassButton{
  width: 90%;
  height:200px;
  margin: 30px;
  font-size: 300%;
}
#updateCurriculumButton{
  width: 90%;
  height:200px;
  margin: 30px;
  font-size: 300%;
}
#classRegistered{
    float:left;
}