form {
    float: left;
    width: 30%;
}
button {
  width: 90%;
  height:200px;
  margin: 30px;
  font-size: 300%;
}
#addClassButton{
  font-size: 300%;
}
#choiceClassButton{
  font-size: 300%;
}
#updateCurriculumButton{
  font-size: 300%;
}