<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SGM-授業態度管理</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <!--  js読み込み  -->
        <script th:src="@{/js/classAttitude.js}"></script>
    <!--     css読み込み -->
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/classDetail.css}" rel="stylesheet">
    <link th:href="@{/css/classAttitude.css}" rel="stylesheet">
</head>
<body class="bg-success-subtle bg-gradient">
<header class="p-3 mb-2 bg-dark bg-gradient text-white">
    <h1 class="headline">
        <a class="title" href="/home/">成績管理アプリケーション</a>
    </h1>
    <ul class="nav-list">
        <li class="nav-list-item">aaa</li>
        <li class="nav-list-item">???</li>
    </ul>
</header>
<main>
    <div>
        <h2 th:text="${classInfo.schoolYearEntity.schoolYearNumber} + '-' + ${classInfo.classNumberEntity.classNumber}"></h2>
        <h2 th:text="${classInfo.departmentEntity.departmentName}"></h2>
    </div>

    <div id="choiceSemesterDiv">
        <h1>学期を選択してください</h1>
        <button class="choiceSemester" value="1">1学期</button>
        <button class="choiceSemester" value="2">2学期</button>
        <button class="choiceSemester" value="3">3学期</button>
    </div>

    <div id="list_form">
        <h2>授業態度</h2>
        <form th:action="@{/classDetail/{classInfo.id}/classAttitude/update}" method="post">

        <div>
            <label>学期</label>
            <select id="semester" name="semesterId">
                <option th:each="semester : ${semesterNumber}"
                        th:value="${semester.id}"
                        th:text="${semester.semesterNumber}+学期">
                </option>
            </select>
            <input type="button" id="semesterUpdate" value="更新" />
        </div>

        <table class="table table-hover" id="listForm" >
            <thead>
            <tr>
                <th>出席番号</th>
                <th>名前</th>
                <th th:each="curriculumName : ${classCurriculum}">[[${curriculumName}]]</th>
            </tr>
            </thead>
            <tbody id="classAttitudeBody">
            <tr th:each="student, studentCount : ${studentList}" th:with="x=0">
                <td th:text="${student.attendanceNumber}"></td>
                <td th:text="${student.studentName}"></td>
                <input hidden="hidden" th:value="${studentCount.size}" id="studentCount"/>
                <td th:each="curriculum, CurriculumCount : ${classCurriculum}" class="classCurriculum">
                    <input id="ClassAttitude" type="number"  min="1" max="5" class="evaluation"  th:value="${classAttitude[__${CurriculumCount.index}__].classAttitudeEvaluation}"/>
                    <input hidden="hidden" th:value="${CurriculumCount.size}" id="curriculumCount"/>
                </td>
            </tr>
            </tbody>
        </table>
            <div id="output" hidden=""></div>
            <input id="classId" hidden="hidden"  name="classId" th:value="${classInfo.id}">
            <button type="submit" class="btn btn-primary" onclick="createEvaluationArray();">評価を更新</button>
        </form>
    </div>
</main>
</body>
</html>