<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SGM-ホーム</title>
   <!-- CSS読込 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <!-- JS読込 -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>
<body class="bg-success-subtle bg-gradient">
    <header class="p-3 mb-2 bg-dark bg-gradient text-white">
        <h1 class="headline">
            <a class="title" href="/home/">成績管理アプリケーション</a>
        </h1>
        <ul class="nav-list">
            <li class="nav-list-item">aaa</li>
            <li class="nav-list-item">???</li>
        </ul>
    </header>
    <main>
        <form action="/home/addClass">
            <button id="addClassButton"  type="submit" class="btn btn-success">クラスを作成</button>
        </form>
        <div id="choiceClassDiv">
        <button id="choiceClassButton" data-bs-toggle="modal" data-bs-target="#choiceClass" class="btn btn-primary">クラスを選択</button>
        </div>
        <form action="/home/updateCurriculum">
            <button id="updateCurriculumButton" type="submit" class="btn btn-info">テスト順位</button>
        </form>

        <h1 th:text="${classRegistered}" id="classRegistered"></h1>
    </main>
    <div class="modal fade" id="choiceClass">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>クラスを選んでください</h2>
                </div>
                <div class="modal-body">
                    <table>
                        <tbody>
                        <tr th:each="class : ${classList}">
                            <form th:action="@{/classDetail/{class.id}}">
                                <button type="submit"
                                        th:text="${class.schoolYearEntity.number} + '-' + ${class.classNumberEntity.number}">
                                </button>
                                <input type="hidden" name="classId" th:value="${class.id}" />
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>