<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SGM-提出物管理選択</title>
  <!-- CSS読込 -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <!-- JS読込 -->
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>
<body class="bg-success-subtle bg-gradient">
<header class="p-3 mb-2 bg-dark bg-gradient text-white">
  <h1 class="headline">
    <a class="title" href="/home/">成績管理アプリケーション</a>
  </h1>
  <ul class="nav-list">
    <li class="nav-list-item">aaa</li>
    <li class="nav-list-item">???</li>
  </ul>
</header>
<main>
  <div>
    <h2 th:text="${classEntity.schoolYearEntity.number} + '-' + ${classEntity.classNumberEntity.number}"></h2>
    <h2 th:text="${classEntity.departmentEntity.name}"></h2>
  </div>

  <form th:action="@{/classDetail/{classEntity.id}/submission}">
    <div id="choiceSemesterDiv">
      <h1>学期を選択してください</h1>
      <div>
        <label th:text="${semesterEntityList[0].number}+学期"></label>
        <input type="radio" name="semesterId" th:value="${semesterEntityList[0].id}" checked/>
        <label th:text="${semesterEntityList[1].number}+学期"></label>
        <input type="radio" name="semesterId" th:value="${semesterEntityList[1].id}"/>
        <label th:text="${semesterEntityList[2].number}+学期"></label>
        <input type="radio" name="semesterId" th:value="${semesterEntityList[2].id}"/>
      </div>
    </div>

    <div id="choiceCurriculumDiv">
      <h1>教科を選択してください</h1>
      <select id="curriculum" name="curriculumId">
        <option th:each="curriculum : ${curriculumEntityList}"
                th:value="${curriculum.id}"
                th:text="${curriculum.curriculumEntity.name}">
        </option>
      </select>
    </div>
    <input hidden="hidden"  name="classId" th:value="${classEntity.id}">
    <input type="submit" value="決定" />
  </form>
</main>
</body>
</html>